<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hbi.core.salesOrder.mapper.CompanysMapper">

    <resultMap id="companyResultMap" type="hbi.core.salesOrder.dto.Companys">
        <id column="company_id" property="companyId"/>
        <result column="company_number" property="companyNumber"/>
        <result column="company_name" property="companyName"/>
    </resultMap>

    <select id="queryAll" resultMap="companyResultMap" parameterType="hbi.core.salesOrder.dto.Companys">
        select
        company_id,
        company_number,
        company_name
        from hap_dev.hap_org_companys
        <where>
            <if test="companyNumber != null and &quot;&quot;.equals(companyNumber.trim())">
                and company_number regexp #{companyNumber},
            </if>
            <if test="companyName != null and &quot;&quot;.equals(companyName.trim())">
                and company_name regexp #{companyName},
            </if>
        </where>
    </select>
</mapper>